##############
# TERRAFORM
##############
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

##############
# PYTHON
##############
__pycache__/
*.py[cod]
*.pyo
venv/
.venv/
env/
ENV/

##############
# SECRETS
##############
.env
*.pem

##############
# DOCKER / DIST
##############
build/
dist/
*.egg-info/
*.egg

##############
# DATABASES
##############
*.db
*.sqlite3
chroma_db/
postgres_k8s_data/
pgdata/
db_data/
data/

##############
# EDITOR / OS
##############
.vscode/
.DS_Store
Thumbs.db

##############
# TESTING
##############
.coverage
htmlcov/
