services:
  # 1. The API Service (Your App)
  newscenter-api:
    build: .
    ports:
      - "8000:8000"
    env_file:
      - .env
    depends_on:
      - db # Wait for the database to start before starting the API
    volumes:
      - .:/app
      - ./chroma_db:/app/chroma_db

  # 2. The Database Service (PostgreSQL)
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
    ports:
      - "5432:5432" # Expose port so you can check it with a GUI tool (DBeaver/pgAdmin)
    volumes:
      - postgres_data:/var/lib/postgresql/data

# Define the named volume for Postgres data persistence
volumes:
  postgres_data: